<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You!</title>
    <link rel="stylesheet" href="/last/last.css">
    <style>* {
        margin: 0;
        padding: 0;
    }</style>
</head>
<body>
    <div class="lcontainer">
        <img src="done.png" alt="">
        <div class="text">Thank You For Renting A Car From Us</div>
    <div class="text2">OUR TEAM WILL CONTACT YOU SOON</div>
    <a href="/" class="lbtn">GO TO HOMEPAGE</a>
    </div>
    
    
</body><script src="ejs.js"></script>
</html>